body{
	background-color: orange;
}

h1{
	text-align: center;
	border: 5px solid black; 
	height: 40px;
}
.navbar{
	text-align: center;
	font-size: 50;
}
#featurecake{
	background-color: green;
	height: 600px;
	width: 400px;
} 
#feature{
	float: left;
}