body{
	background-image: url(img/rainbow.jpg);
	 height:1000px;
	 width: 100%;
}

h1{
	text-align: center;
	border: 5px solid black; 
	height: 40px;
}
.navbar{
	text-align: center;
	font-size: 50;
}
#featurecake{
	background-color: green;
	width: 50%;
	} 
#feature{
	float: left;
	width: 50%;
}

#daily{
	float: right;
}
#dailydesc{
	background-color: blue;
}
#weeklydesc{
	background-color: pink;
}
#special{

}
.img{
	position: 5px 5px 5px 5px;
}


